@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;900&display=swap"); /* http://meyerweb.com/eric/tools/css/reset/ 
  v2.0 | 20110126
  License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
  height: auto;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.fw-bold {
  font-weight: 900;
}

.fw-medium {
  font-weight: 700;
}

.bg-dark {
  background-color: #1e1e1e;
}

.bg-white {
  background-color: #fff;
}

.fz-h1 {
  font-size: 3.125rem;
}
@media screen and (max-width: 767px) {
  .fz-h1 {
    font-size: 2rem;
    line-height: 1.3;
  }
}

.fz-h2 {
  font-size: 2rem;
}

.fz-h3 {
  font-size: 1.25rem;
}

.my-1 {
  margin: 0.75rem 0;
}

.my-2 {
  margin: 1rem 0;
}

.my-3 {
  margin: 1.5rem 0;
}

.my-4 {
  margin: 2rem 0;
}

.my-5 {
  margin: 3rem 0;
}

.mb-1 {
  margin-bottom: 0.75rem;
}

.mb-2 {
  margin-bottom: 1rem;
}

.mb-3 {
  margin-bottom: 1.5rem;
}

.mb-4 {
  margin-bottom: 2rem;
}

.mb-5 {
  margin-bottom: 3rem;
}

body {
  font-family: "Noto Sans TC", sans-serif;
  line-height: 1;
  font-size: 1rem;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: inherit;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.justify-content-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.align-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (min-width: 768px) {
  .break-on-small-screen {
    display: none;
  }
}

.img-style-cover {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.text-center {
  text-align: center;
}

.word-wrap {
  word-wrap: break-word;
}

.h-100 {
  height: 100%;
}

.w-100 {
  height: 100%;
}

.container {
  padding: 160px 12px;
  max-width: 1296px;
  margin: 0px auto;
}
@media screen and (max-width: 992px) {
  .container {
    padding: 80px 12px;
  }
}

.container-fluid {
  padding: 160px 0px;
  max-width: 100%;
  margin: 0px auto;
}

.section-rounded {
  border-radius: 160px;
}
@media screen and (max-width: 992px) {
  .section-rounded {
    border-radius: 1.25rem;
  }
}

.category-menu-desktop {
  display: block;
}
@media screen and (max-width: 767px) {
  .category-menu-desktop {
    display: none;
  }
}
.category-menu-mobile {
  display: none;
}
@media screen and (max-width: 767px) {
  .category-menu-mobile {
    display: block;
  }
}
.category-list-item {
  padding: 8px 16px;
  line-height: 1.5rem;
  cursor: pointer;
}
.category-list-item:focus {
  background-color: #f2f2f2;
  border-radius: 1rem;
  font-weight: 700;
  outline: none;
}

.searchBar {
  position: relative;
}
.searchBar-input {
  background-color: #f2f2f2;
  padding: 20px 40px;
  border: none;
  border-radius: 1rem;
  width: 100%;
}
.searchBar-icon {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0.5rem;
  border: none;
  cursor: pointer;
}

.select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  padding: 20px 30px;
  border-radius: 1rem;
  border-color: #f2f2f2;
  line-height: 1.5;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  #categoryList {
    white-space: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  /* Hide horizontal scrollbar */
  #categoryList::-webkit-scrollbar {
    height: 0px;
  }
}
#category-select {
  background-image: url("../img/funnel-icon.png");
  background-repeat: no-repeat;
  background-position: left 6em top 50%;
  background-size: 1em auto;
  padding-right: 4em;
}

#date-sort-select {
  background: url("../img/select-arrow.png");
  background-repeat: no-repeat;
  background-position: left 7em top 50%;
  background-size: 1em auto;
  padding-right: 4em;
}

.product-list-item {
  margin-bottom: 24px;
  width: 32.0987654321%;
}
@media screen and (max-width: 992px) {
  .product-list-item {
    width: 49.0740740741%;
  }
}
@media screen and (max-width: 767px) {
  .product-list-item {
    width: 100%;
  }
}

.product-card {
  border: 1px solid #f2f2f2;
  border-radius: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}
.product-card:hover > .product-card-img > img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: -webkit-transform 0.7s;
  transition: -webkit-transform 0.7s;
  transition: transform 0.7s;
  transition: transform 0.7s, -webkit-transform 0.7s;
}
.product-card-img {
  max-width: 100%;
  border-radius: 1rem 1rem 0px 0px;
  overflow: hidden;
}
.product-card-description {
  padding: 20px 32px;
  margin-bottom: auto;
}
.product-card-description p {
  line-height: 1.3;
  color: #525252;
}
.product-card-info {
  padding: 20px 32px;
  border-top: 1px solid #f2f2f2;
}
.product-card-hashtag {
  padding: 20px 32px;
  border-top: 1px solid #f2f2f2;
}
.product-card-shareBtn {
  border: none;
  background-color: transparent;
  cursor: pointer;
}