.section-rounded {
  border-radius: 160px;
  @media screen and (max-width: 992px) {
    border-radius: $radius-lg;
  }
}

.category {
  &-menu {
    &-desktop {
      display: block;
      @media screen and (max-width: 767px) {
        display: none;
      }
    }
    &-mobile {
      display: none;
      @media screen and (max-width: 767px) {
        display: block;
      }
    }
  }
  &-list {
    &-item {
      padding: 8px 16px;
      line-height: 1.5rem;
      cursor: pointer;
      &:focus {
        background-color: $color-lightGray;
        border-radius: $radius-base;
        font-weight: 700;
        outline: none;
      }
    }
  }
}

.searchBar {
  position: relative;
  &-input {
    background-color: $color-lightGray;
    padding: 20px 40px;
    border: none;
    border-radius: $radius-md;
    width: 100%;
  }
  &-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0.5rem;
    border: none;
    cursor: pointer;
  }
}

.select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  padding: 20px 30px;
  border-radius: $radius-base;
  border-color: $color-lightGray;
  line-height: 1.5;
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  #categoryList {
    white-space: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  /* Hide horizontal scrollbar */
  #categoryList::-webkit-scrollbar {
    height: 0px;
  }
}

//select icon
#category-select {
  background-image: url("../img/funnel-icon.png");
  background-repeat: no-repeat;
  background-position: left 6em top 50%;
  background-size: 1em auto;
  padding-right: 4em;
}
#date-sort-select {
  background: url("../img/select-arrow.png");
  background-repeat: no-repeat;
  background-position: left 7em top 50%;
  background-size: 1em auto;
  padding-right: 4em;
}

.product-list-item {
  margin-bottom: 24px;
  width: $col-4;
  @media screen and (max-width: 992px) {
    width: $col-6;
  }
  @media screen and (max-width: 767px) {
    width: 100%;
  }
}

.product-card {
  border: 1px solid #{$color-lightGray};
  border-radius: $radius-base;
  display: flex;
  flex-direction: column;
  height: 100%;

  &:hover > .product-card-img > img {
    transform: scale(1.2);
    transition: transform 0.7s;
  }
  &-img {
    max-width: 100%;
    border-radius: #{$radius-base} #{$radius-base} 0px 0px;
    overflow: hidden;
  }
  &-description {
    padding: 20px 32px;
    margin-bottom: auto;
    p {
      line-height: $line-height-lg;
      color: $color-gray;
    }
  }
  &-info {
    padding: 20px 32px;
    border-top: 1px solid #{$color-lightGray};
  }
  &-hashtag {
    padding: 20px 32px;
    border-top: 1px solid #{$color-lightGray};
  }
  &-shareBtn {
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
}
